:host {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: transparent;
}

main {
  padding: 15px;
  text-align: center;
  background-color: transparent;
}

img {
  display: block;
  margin: auto;
}

.mat-form-field {
  display: block;
  margin: 20px 0 30px;
}

button {
  display: block;
  width: 400px;
}
