<a class="tool-tip" (click)="showDocumentation()">
  <mat-icon title="Cliquez (et glissez) pour commencer à taper du&#10;texte.&#10;Utilisez le panneau pour configurer l'apparence du&#10;texte avant de taper.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1 xmlns="http://www.w3.org/1999/html">Texte</h1>
<svg width="320" height="200">
  <rect
    [ngStyle]="{'fill': colorService.backgroundColor, 'stroke': 'rgba(255,255,255,1)', 'stroke-width': '3px'}"
    width="310" height="200" x="0" y="0" rx="15"
    stroke="#FFFFFF" stroke-width="1px">
  </rect>
  <text
    [ngStyle]="{
      'font-size': service.fontSize.toString(),
      'fill': colorService.primaryColor,
      'font-family': service.currentFont,
      'text-anchor': service.getTextAnchor(),
      'font-weight': service.textMutators.bold ? 'bold' : 'normal',
      'font-style': service.textMutators.italic ? 'italic' : 'normal',
      'text-decoration': service.textMutators.underline ? 'underline' : 'none'
    }"
  >
    <tspan
      [attr.x]="getPreviewTextAlign().toString()"
      y="55">Aa Bb Cc</tspan>
    <tspan
      [attr.x]="getPreviewTextAlign().toString()"
      y="117">1 2 4 8 16</tspan>
    <tspan
      [attr.x]="getPreviewTextAlign().toString()"
      y="180">$#@%!</tspan>
  </text>
</svg>
<hr>
<form [formGroup]="textForm">
  <mat-button-toggle-group multiple class="mutators" #mutators>
    <mat-button-toggle
      value="bold"
      title="Gras"
      (change)="onMutatorChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_bold</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="italic"
      title="Italique"
      (change)="onMutatorChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_italic</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="underline"
      title="Souligné"
      (change)="onMutatorChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_underlined</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group #alignements>
    <mat-button-toggle
      value="left"
      title="Aligné à gauche"
      (change)="onAlignChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_align_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="center"
      title="Centré"
      (change)="onAlignChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_align_center</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="right"
      title="Aligné à droite"
      (change)="onAlignChange($event)"
      disabled="{{service.indicators.onType}}">
      <mat-icon
        class="settingsIcons"
        [ngStyle]="{'color': service.indicators.onType ? '#525252' : '#ffc0cb'}">format_align_right</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <hr>
  <p>Police</p>
  <mat-form-field class="fonts">
    <div class="mat-select-value-text">
      <mat-select [(value)]="service.currentFont"
                  class="mat-select-value-text"
                  formControlName="fonts">
        <mat-option *ngFor="let font of service.fontsList" [value]="font.value">
          {{font.viewValue}}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <p>Taille de la police</p>
  <div class="fontSize">
    <mat-slider min="{{service.MIN_FONTSIZE}}" max="{{service.MAX_FONTSIZE}}" step=1
                value="{{service.fontSize}}"
                (input)="onFontSizeChange()"
                (change)="onFontSizeChange()"
                formControlName="fontSizeSlider"
                #fontSizeSlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="fontSizeFormField" value="{{service.fontSize}}"/>
      <span matSuffix>px</span>
    </mat-form-field>
  </div>
</form>
<hr>
