:host {
  display: block;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

mat-slide-toggle {
  margin-left: 30px;
}

.settingsIcons {
  color: #FFFFFF;
}

mat-button-toggle {
  background-color: #3c3836;
}

mat-form-field {
  width: 45px;
  height: 10px;
  margin-left: 10px;
  margin-top: -25px;
}

.fonts {
  width: auto;
  color: #FFFFFF;
}

mat-option {
  background-color: #4e4d4d;
  color: #FFFFFF;
}

::ng-deep .mat-select-value-text {
  color: #FFFFFF;
}

.mutators {
  margin-right: 20px;
}

.tool-tip {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 26px;
    left: 350px;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}

.tool-tip {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 26px;
    left: 350px;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}
