:host {
  display: block;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

mat-slide-toggle {
  margin-left: 30px;
}

.mat-button-toggle-appearance-standard {
  background: #4e4d4d;
}

.mat-button-toggle {
  color: white;
}

mat-slider {
  margin-top: 0px;
}

mat-form-field {
  width: 45px;
  height: 10px;
  margin-left: 10px;
  margin-top: -25px;
}
