// Default Angular material theming
@import '@angular/material/prebuilt-themes/indigo-pink.css';


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.documentation {
  padding: 0;
}

.doc-fig {
  display: block;
  border: 1px solid rgb(172, 172, 172);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px rgb(39, 39, 39);
}

.floatLeft {
  float: left;
  margin-right: 20px;
}

.floatRight {
  float: right;
  margin-left: 20px;
}

@font-face {
  font-family: 'Geo-Sans-Light-NMS';
  src: url('/assets/fonts/geonms-font.ttf')
}
@font-face {
  font-family: 'JetBrains-Mono';
  src: url('/assets/fonts/JetBrainsMono-Regular.ttf')
}
@font-face {
  font-family: 'texgyrepagella';
  src: url('/assets/fonts/texgyrepagella-regular.otf')
}
