:host {
  display: block;
  position: relative;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

button {
  background-color: rgb(78, 77, 77);
  text-align: center;
  margin: 3px;
}

svg {
  margin-top: 20px;
  margin-left: 50px;
}

mat-slide-toggle {
  margin-left: 20px;
  vertical-align: middle;
  margin-top: -3px;
}

.tool-tip-selection {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    right: 35px;
    z-index: 99;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}

.tool-tip-magnet {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 150px;
    right: 35px;
    z-index: 99;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}

