<h1>Ellipse</h1>
<form [formGroup]="ellipseForm">
  <p>
    <mat-slide-toggle formControlName="fillOption" #fillOptionRef>
    </mat-slide-toggle>
    Remplissage
  </p>
  <p>
    <mat-slide-toggle formControlName="borderOption" #borderOptionRef>
    </mat-slide-toggle>
    Contour
  </p>
  <div class="thickness" *ngIf="this.service.borderOption">
    <mat-slider min=1 max=100 step=1 (input)="onThicknessChange()" (change)="onThicknessChange()" [value]="service.thickness"
            #thicknessSlider>
    </mat-slider>
    <mat-form-field>
      <input matInput formControlName="thicknessFormField" readonly />
      <span matSuffix>px</span>
    </mat-form-field>
  </div>
</form>
