:host {
  display: block;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

button {
  background-color: rgb(78, 77, 77);
  border: none;
  color: white;
  width: 220px;
  text-align: center;
  margin-left: 50px;
}

button :hover {
  cursor: pointer;
}
