.chip-list {
    width: 50%;
    padding-left: 25%;
    padding-right: 5%;
    font-size: large;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}
  
.slider {
    padding-left: 8px;
    padding-right: 8px;
}