main {
    padding: 10px;
    color : white;
    min-width: 200px;
}

mat-slider{
    margin-top: -12px;
    float: left;
}

mat-form-field{
    width: 45px;
    height: 10px;
    margin-left: 10px;
    margin-top: -20px;
}
