<a class="tool-tip no-select" (click)="showDocumentation()">
  <mat-icon title="Cliquez-glissez pour diffuser des particules.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1 class="no-select">Aérosol</h1>
<form [formGroup]="aerosolForm">
  <p class="no-select">Épaisseur</p>
  <div class="thickness">
    <mat-slider min="{{this.service.MIN_THICKNESS}}" max="{{this.service.MAX_THICKNESS}}" step=1
                (input)="onThicknessChange()"
                (change)="onThicknessChange()"
                formControlName="thicknessSlider"
                #thicknessSlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="thicknessFormField" />
      <span matSuffix>px</span>
    </mat-form-field>
  </div>
  <br>
  <p class="no-select">Fréquence du jet</p>
  <div class="frequency">
    <mat-slider min="{{this.service.MIN_FREQUENCY}}" max="{{this.service.MAX_FREQUENCY}}" step="1"
                (input)="onFrequencyChange()"
                (change)="onFrequencyChange()"
                formControlName="frequencySlider"
                #frequencySlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput style="margin-right: 10px" formControlName="frequencyFormField" />
      <span matSuffix>Hz</span>
    </mat-form-field>
  </div>
</form>
<p class="no-select">Aperçu pour 1s</p>
<svg width="340" height="220">
  <circle cx="150" cy="110" r="105"
      [ngStyle]="{'fill': 'rgb(255, 255, 255)', 'stroke-width': '2', 'stroke': 'rgb(0, 0, 0)'}"></circle>
  <path d =''
        [ngStyle]="{'fill': this.colorService.primaryColor}"
        #prevPath >
  </path>
</svg>
