<mat-radio-group class="example-radio-group" [(ngModel)]="colorOption">
  <table>
    <tr>
      <td class="radio-button">
        <mat-radio-button [value]="colorOptionEnum.Primary" checked></mat-radio-button>
      </td>
      <td title="La couleur primaire désigne la couleur&#10;utilisée par la plupart des outils. C'est la couleur&#10;qui s'appliquera pour le remplissage&#10;des polygones, des rectangles et des ellipses." class="radio-button-text no-select">Primaire</td>
      <td class="color-preview-circle">
        <app-color-picker-item #colorPreviewPrimary></app-color-picker-item>
      </td>
      <td rowspan="2">
        <button mat-raised-button
                color="primary"
                (click)="swapColors()"
                id="swapButton">
          <mat-icon>swap_vert</mat-icon>
        </button></td>
    </tr>
    <tr>
      <td>
        <mat-radio-button [value]="colorOptionEnum.Secondary"></mat-radio-button>
      </td>
      <td title="La couleur secondaire s'appliquera &#10;sur les bordures des polygones, des&#10;rectangles ou des ellipses." class="radio-button-text no-select">Secondaire</td>
      <td class="color-preview-circle">
        <app-color-picker-item #colorPreviewSecondary></app-color-picker-item>
      </td>
    </tr>
    <tr>
      <td>
        <mat-radio-button [value]="colorOptionEnum.Background"></mat-radio-button>
      </td>
      <td title="La couleur de l'arrière plan du dessin." class="radio-button-text no-select">Arrière plan</td>
      <td class="color-preview-circle">
        <app-color-picker-item #colorPreviewBackground></app-color-picker-item>
      </td>
    </tr>
  </table>
</mat-radio-group>
<div #recentElements class="recent-colors">
  <p class="no-select">Couleurs récentes</p>
  <div class="recent-colors-buttons">
    <app-color-picker-item
      title="Clic gauche &#11166; Assigner à la couleur primaire&#10;Clic droit &#11166; Assigner à la couleur secondaire&#10;Clic molette &#11166; Assigner à la couleur d'arrière plan"
      *ngFor="let number of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
    </app-color-picker-item>
  </div>
</div>
<button mat-raised-button color="primary" (click)="onShowPalette()" class="palette no-select">
  PALETTE
  <mat-icon>palette</mat-icon>
</button>
<app-color-picker-content   [startColor]="getStartColor()"
                            (colorChange)="onColorPicked($event)"
                            *ngIf="showPalette"
                            #colorPalette>
</app-color-picker-content>
