main{
    margin: 10px;
    color : white;
    min-width: 300px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.color-preview{
    margin-left: 50px;
}

.palette{
    margin-top: 30px;
    margin-bottom: 10px;
}

.recent-colors{
    margin-top: 30px;
}