:host {
  display: block;
  padding: 0px 10px 0px 10px;
  width: 300px;
  color : white;
}

.radio-button {
  width: 40px;
}

.radio-button-text {
  width: 150px;
  padding-left: 40px;
}

.color-preview {
  margin-left: 50px;
}

.palette{
  margin-top: 20px;
  margin-bottom: 10px;
}

.recent-colors{
  margin-top: 20px;
  margin-left: 10px;
  .recent-colors-buttons {
    margin-left: 5px;
  }
}



td {
  ::ng-deep .mat-raised-button{
    min-width: 10px;
    padding: 0px !important;
    margin-left: 10px;
  }
}
