<svg:svg #preview></svg:svg>

<form id="form" [formGroup]="form" (keyup.enter)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Nom du dessin</mat-label>
    <input matInput formControlName="name">
    <mat-hint>
      Le nom doit être en 3 et 21 caractères.
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Nouveau tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-hint>
      Le tag doit être en 3 et 21 caractères.
    </mat-hint>
  </mat-form-field>
  <button mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="form.invalid || saving"
    type="submit"
  #submitButton>
  Sauvegarder
  </button>
  <button mat-raised-button
            color="warn"
            (click)="onCancel()"
            #cancelButton>
            Annuler
  </button>
</form>
