:host {
  display: block;
  width: 70%;
  margin: auto;
}

svg {
  display: block;
  margin: 0 auto 25px;
  border: 1px solid rgba(0, 0, 0, .5);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 48%;
  margin: 1%;
  float: right;
}
