<a class="tool-tip no-select" (click)="showDocumentation()">
  <mat-icon title="Utilisez le panneau pour&#10;configurer la grille.&#10;Pressez + et - pour changer la taille des carreaux,&#10;G pour activer/désactiver la grille.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1 class="no-select">Grille</h1>
<form [formGroup]="gridForm">
  <p class="no-select">
    Activée
    <mat-slide-toggle [checked]="service.active" (change)="onActiveChange()" formControlName="activeToggleForm" #activeToggle>
    </mat-slide-toggle>
  </p>
  <br>
  <div *ngIf="service.active">
    <p class="no-select">Taille des carrés</p>
    <div class="squareSize">
      <mat-slider min="{{GridService.MIN_SQUARESIZE}}" max="{{GridService.MAX_SQUARESIZE}}" step=1
                  value="{{service.squareSize}}"
                  (input)="onSquareSizeChange()"
                  (change)="onSquareSizeChange()"
                  formControlName="squareSizeSlider"
                  #squareSizeSlider>
      </mat-slider>
      <mat-form-field>
        <input readonly matInput formControlName="squareSizeFormField" value="{{service.squareSize}}"/>
        <span matSuffix>px</span>
      </mat-form-field>
    </div>
    <br>
    <p class="no-select">Opacité</p>
    <div class="opacity">
      <mat-slider min="{{GridService.MIN_OPACITY}}" max="{{GridService.MAX_OPACITY}}" step="1"
                  value="{{service.opacity}}"
                  (input)="onOpacityChange()"
                  (change)="onOpacityChange()"
                  formControlName="opacitySlider"
                  #opacitySlider>
      </mat-slider>
      <mat-form-field>
        <input readonly matInput formControlName="opacityFormField" value="{{service.opacity}}"/>
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </div>
</form>
