<a class="tool-tip" (click)="showDocumentation()">
  <mat-icon title="Cliquer sur un objet pour changer sa&#10;couleur principale (clic gauche) ou sa&#10;couleur secondaire (clic droit).&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h2>Applicateur de couleur</h2>
<div class="preview-text">
  <h3>Primaire</h3>
</div>
<div class="preview-text">
  <h3>Secondaire</h3>
</div>
<svg width="320" height="150">
  <circle cx="80" cy="50" r="50"
    [ngStyle]="{'fill': this.colorService.primaryColor, 'stroke-width': 3, 'stroke': 'rgb(0, 0, 0)'}">
  </circle>
  <circle cx="240" cy="50" r="50"
    [ngStyle]="{'fill': this.colorService.secondaryColor, 'stroke-width': 3, 'stroke': 'rgb(0, 0, 0)'}">
  </circle>
</svg>
