#wrapper{
    
    background-color: #e5e2e2c0;

    #container {
        
        width: 700px;
        margin: auto;
        background-color: whitesmoke;

        #container-central {

            min-height: 100vh;
            display: table;
            margin: auto;
            
            #centered{

                display: table-cell;
                vertical-align: middle;

                img {

                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 20vw;

                }

                #informations{
        
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 30px;
        
                    p{
                        font-size: 22px;
                    }

                }
        
                
            }

        }
        
    }
}
