<h1>Pinceau</h1>
<form [formGroup]="brushForm">
  <p>Épaisseur</p>
  <div class="thickness">
    <mat-slider min=1 max=100 step=1
      (input)="onThicknessChange()"
      (change)="onThicknessChange()"
      formControlName="thicknessSlider">
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="thicknessFormField" />
      <span matSuffix>px</span>
    </mat-form-field>
  </div>
  <p class="texture">Textures</p>
  <mat-radio-group formControlName="textureOption" (change)="onOptionChange($event)">
    <mat-radio-button *ngFor="let texture of textures" [value]="texture.value" #radioChoice>
      {{texture.value}}
      <img [src]="texture.src" [alt]="texture.value" width=100 height=50 />
    </mat-radio-button>
  </mat-radio-group>
</form>
<hr>
<app-color-panel></app-color-panel>
