:host {
    display: flex;
    height: 100vh;
}

app-panel {
    flex-shrink: 0;
    overflow-x: hidden;
    max-width: 999px; /* Valeur extrême */
    transition: 1s linear max-width;
    background-color: #2F3136;
}

.collapse {
    max-width: 0;
}

app-canvas {
    flex-grow: 1;
}

::ng-deep .cdk-overlay-container {
    background-color: rgba(0, 0, 0, 0.7);
}
