:host {
  display: flex;
  height: 100vh;
}

app-panel {
  flex-shrink: 0;
  background-color: #2F3136;
}

main {
  flex-grow: 1;
  display: grid;
  // place-items: center;
  overflow: auto;
  // https://start.duckduckgo.com/assets/transparency-bg.jpg
  // chrome://global/skin/media/imagedoc-lightnoise.png
  // chrome://global/skin/media/imagedoc-lightnoise.png
  background-image: linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%),linear-gradient(45deg, #222 25%, transparent 25%, transparent 75%, #222 75%);
  background-color: #333;
  background-position: 0 0, 10px 10px;
  // NOTE: 20px renders fragments
  background-size: 21px 21px;
}

svg {
  cursor: crosshair; // or cell
}

::ng-deep .cdk-overlay-container {
  background-color: rgba(0, 0, 0, 0.3);
}

::ng-deep .documentation {
  ::ng-deep .mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

::ng-deep .galery {
  ::ng-deep .mat-dialog-container {
    background-color: rgba(0, 0, 0, 0.5);
  }
}