.header {
  background-color: whitesmoke;
}

.example-chip-list {
    width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    //text-align: center;
    font-size: xx-large;
}

.title{
    text-align: center;
    margin-top: 0px;
    padding-top: 0.67em;
    color: #e91e63;
}