<a class="tool-tip" (click)="showDocumentation()">
  <mat-icon title="Hi">emoji_objects</mat-icon>
</a>
<h1>Sceau de peinture</h1>
<form [formGroup]="bucketForm">
  <p>Tolérance</p>
  <div>
    <mat-slider min=0 max=100 step=1
      (input)="onToleranceChange()"
      formControlName="toleranceSlider"
      #toleranceSlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="toleranceFormField" />
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</form>
