<a class="tool-tip no-select" (click)="showDocumentation()">
  <mat-icon title="Cliquez sur une zone à colorier. &#10;Le sceau colorera tous les pixels adjacents au&#10;clic avec la couleur principale.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1 class="no-select">Sceau de peinture</h1>
<form [formGroup]="bucketForm">
  <p class="no-select">Tolérance</p>
  <div>
    <mat-slider min=0 max=100 step=1
      (input)="onToleranceChange()"
      formControlName="toleranceSlider"
      #toleranceSlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="toleranceFormField" />
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</form>
