:host {
  display: block;
  position: relative;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

mat-slider {
  margin-top: 0px;
}

mat-form-field {
  width: 45px;
  height: 10px;
  margin-left: 10px;
  margin-top: -25px;
}

mat-form-field :hover {
  cursor: default;
}

.tool-tip {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    right: 35px;
    z-index: 99;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}
