<mat-card class="card">
  <mat-card-title>
    <h1 class='title'>
      <mat-icon>photo_library</mat-icon> Gallerie
    </h1>
    <div class="search-bar">
      <mat-form-field class="chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Nouvelle étiquette ..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span>OU</span>
      <mat-slide-toggle #searchToggleRef (click)="ajustImagesWidth()"></mat-slide-toggle>
      <span>ET</span>
    </div>
  </mat-card-title>
  <mat-card-content #cardContent>
    <div class="centered">
      <h2 *ngIf="galleryDrawTable.length === 0" class="loading-spinner" color="warn">Chargement ... </h2>
      <app-gallery-card *ngFor="let draw of filteredGalleryDrawTable" [name]="draw.name" [id]="draw.id" [tags]="draw.tags"
        [color]="draw.backgroundColor" [height]="draw.height" [width]="draw.width" 
        [svg]="draw.svg" (load)="loadDraw($event)" (delete)="deleteDraw($event)"
        (tagClick)="addTag($event)">
      </app-gallery-card>
      <div *ngIf="filteredGalleryDrawTable.length === 0 && galleryDrawTable.length !== 0">
        <h1 class="alert">Aucun dessin trouvé</h1>
      </div>
    </div>
  </mat-card-content>
</mat-card>