<mat-card class="card">
  <mat-card-title>
    <div class="header">
      <h1 class="title">
        Gallerie
      </h1>
      <button class="close-button" mat-mini-fab (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-tags-filter  [tags]="allTags.asObservable()"
                      [selectedTag]="selectedTag.asObservable()"
                      (filteredTagsChange)="filterGalleryTable($event)"></app-tags-filter>
  </mat-card-title>
  <mat-card-content #cardContent>
    <div class="centered">
      <app-gallery-card *ngFor="let draw of filteredGalleryDrawTable"
                        [draw]="draw"
                        (load)="loadDraw($event)"
                        (delete)="deleteDraw($event)"
                        (tagClick)="addTag($event)">
      </app-gallery-card>
    </div>
    <h1 class="loading" *ngIf="loading" color="warn">Chargement ... </h1>
    <h1 class="allert" *ngIf="filteredGalleryDrawTable.length === 0 && !loading">Aucun dessin trouvé</h1>
  </mat-card-content>
</mat-card>
