#wrapper{
    
    background-color: #e5e2e2c0;

    #container {
        
        width: 700px;
        margin: auto;
        background-color: whitesmoke;

        #container-central {

            min-height: calc(100vh - 50px);
            display: table;
            margin: auto;
            
            #centered{

                display: table-cell;
                vertical-align: middle;

                img {

                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 10vw;

                }
                
                #informations{
        
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 50px;
        
                    p{
                        font-size: 22px;
                    }

                }
        
                #options{

                    text-align: center;
        
                    .option{

                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 400px;
                        margin-top: 20px;
        
                        .mat-icon {
                            vertical-align: middle;
                        }
        
                    }
        
                    mat-icon, span{
                        font-size: 18px;
                    }

                    button {
                        border-radius: 40px;
                    }

                }
            
            }

        }
        
    }
    
}
