:host {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: transparent;
}

main {
  padding: 15px 15px 0;
  text-align: center;
  background-color: transparent;
}

img {
  display: block;
  margin: auto;
}

button {
  display: block;
  margin: 15px 0;
  width: 400px;
  border-radius: 40px;
}

#options{
  margin-top: 30px;
}

#informations{
  margin-top: 30px;
}
