<div id="wrapper">
  <div id="container" class="mat-elevation-z24">
    <div id="container-central">
      <div id="centered">
        <img  src="../../../assets/logo.png" 
              alt="POLY DESSIN" />
        <div id="informations">
          <h1>Bienvenue !</h1>
          <h3>Veuillez sélectionner un choix parmi : </h3>
        </div>
        <div id="options">
          <ng-container *ngFor="let option of options">
            <button mat-raised-button 
                    *ngIf="option.canDisplay" 
                    class="option mat-elevation-z10" 
                    color="primary"
                    [routerLink]="option.routerLink">
              <mat-grid-list cols="5" rowHeight="70px">
                <mat-grid-tile colspan="1" rowspan="1">
                  <mat-icon>{{option.icon}}</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1">
                  <span>{{option.message}}</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="1">
                  <mat-icon>chevron_right</mat-icon>
                </mat-grid-tile>
              </mat-grid-list>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>