:host {
  display: block;
  position: relative;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

mat-slider{
  margin-top: -12px;
  float: left;
}

mat-form-field {
  width: 45px;
  height: 10px;
  margin-left: 10px;
  margin-top: -25px;
  user-select: none;
}

mat-radio-button{
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.texture{
  margin-top: 20px;
}

img{
  margin-left: 40px;
  vertical-align: middle;
}

.tool-tip {

  mat-icon {
    color: yellow;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 7px;
    right: 35px;
    z-index: 99;
    transition-delay: 0s title;
  }

  mat-icon:hover {
    cursor: pointer;
    filter: grayscale(0) drop-shadow(0 0 5px rgb(231, 210, 17));
  }

}
