<nav>
  <abbr title='Crayon' style='background-image:url(/assets/gimp-tool-pencil.png)'></abbr>
  <abbr title='Pinceau' style='background-image:url(/assets/gimp-tool-paintbrush.png)'></abbr>
  <abbr title='Efface' style='background-image:url(/assets/gimp-tool-eraser.png)'></abbr>
  <span></span>
  <abbr title='Aide' style='background-image:url(/assets/gimp-prefs-help-system.svg)' routerLink='/documentation'></abbr>
</nav>
<div>
  <mat-selection-list>
    <mat-list-option *ngFor='let setting of settings'>
      {{ setting }}
    </mat-list-option>
  </mat-selection-list>
  <figure #colorpicker>
  </figure>
</div>
