@import '@angular/material/prebuilt-themes/purple-green.css';

:host {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #20262E;
}

a {
  display:block;
  color: #FFF;
  padding: 10px 10px 6px;
  transition: .3s ease background-color;
}

a:last-child {
  cursor: help;
  background-color: #FF0;
}

a:hover {
  background-color: #FF1847;
}

span {
  flex-grow: 1;
}

div {
  background-color: #2F3136;
}
