<div class="btn" title="Crayon"  style="background-image:url(/assets/gimp-tool-pencil.png)"></div>
<div class="btn" title="Pinceau" style="background-image:url(/assets/gimp-tool-paintbrush.png)"></div>
<div class="btn" title="Efface"  style="background-image:url(/assets/gimp-tool-eraser.png)"></div>
<span></span>
<div class="btn" title="Exporter" style="background-image:url(/assets/gimp-prefs-import-export.png)"></div>
<div class="btn" title="Aide"     style="background-image:url(/assets/gimp-prefs-help-system.svg)" routerLink="/documentation"></div>
