@import '@angular/material/prebuilt-themes/purple-green.css';

:host {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #20262E;
}

abbr {
  display: block;
  color: #FFF;
  padding: 22px;
  transition: .3s ease;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

abbr:last-child {
  cursor: help;
  filter: none;
  background-color: #FF0;
}

abbr:hover {
  filter: none;
}

span {
  flex-grow: 1;
}

div {
  background-color: #2F3136;
}
