:host {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #777;
}

a {
  padding: 8px 10px;
}

a:hover {
  background-color: #333;
}

span {
  flex-grow: 1;
}
