<a class="tool-tip" (click)="showDocumentation()">
  <mat-icon title="Cliquer sur un objet pour l'effacer.&#10;Cliquer-glisser pour effacer plusieurs objets.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1>Efface</h1>
<form [formGroup]="eraserForm">
  <p>Taille</p>
  <div class="thickness">
    <mat-slider min=3 max=30 step=1
      (input)="onThicknessChange()"
      (change)="onThicknessChange()"
      formControlName="sizeSlider"
      #sizeSlider>
    </mat-slider>
    <mat-form-field>
      <input readonly matInput formControlName="sizeFormField" />
      <span matSuffix>px</span>
    </mat-form-field>
  </div>
</form>

