<nav>
  <a title="Ligne [L]"
    style="background-image:url(/assets/icons/line.png)"
    [class.selected]="selection[toolType.Line]"
    (click)="selectTool(toolType.Line)"></a>
  <a title="Rectangle [1]"
    style="background-image:url(/assets/icons/rectangle.png)"
    [class.selected]="selection[toolType.Rectangle]"
    (click)="selectTool(toolType.Rectangle)"></a>
  <a title="Ellipse [2]"
    style="background-image:url(assets/icons/ellipse.png)"
    [class.selected]="selection[toolType.Ellipse]"
    (click)="selectTool(toolType.Ellipse)"></a>
  <a title="Polygone [3]"
    style="background-image:url(/assets/icons/polygon.png)"
    [class.selected]="selection[toolType.Polygon]"
    (click)="selectTool(toolType.Polygon)"></a>
  <a title="Crayon [C]"
    style="background-image:url(/assets/icons/pencil.png)"
    [class.selected]="selection[toolType.Pencil]"
    (click)="selectTool(toolType.Pencil)"></a>
  <a title="Pinceau [W]"
    style="background-image:url(/assets/icons/brush.png)"
    [class.selected]="selection[toolType.Brush]"
    (click)="selectTool(toolType.Brush)"></a>
</nav>
<a title="Sauvegarder" style="background-image:url(/assets/icons/save.gif)"
  (click)="pageEv.emit(pageType.SAVE)"></a>
<a title="Exporter"    style="background-image:url(/assets/icons/export.png)"
  (click)="pageEv.emit(pageType.EXPORT)"></a>
<a title="Aide"        style="background-image:url(/assets/icons/help.svg)"
  (click)="pageEv.emit(pageType.DOCUMENTATION)"></a>
