@import '@angular/material/prebuilt-themes/purple-green.css';

:host {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
}

nav {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #202225;
}

nav::-webkit-scrollbar {
  display: none;
}

a {
  display: block;
  color: #FFF;
  padding: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

nav a {
  transition: filter .3s;
  filter: grayscale(100%);
}

nav a:hover, nav a.selected {
  filter: grayscale(0) drop-shadow(0 0 5px #FFF);
}

button {
  padding: 10px 10px 6px;
  border: none;
}

button:not(:last-child) {
  color: white;
  background: none;
}

button:last-child {
  cursor: help;
  background-color: #FF0;
}

button[disabled] {
  color: gray;
}
