@import '@angular/material/prebuilt-themes/purple-green.css';

:host {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
}

nav {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #202225;
}

nav::-webkit-scrollbar {
  display: none;
}

a {
  display: block;
  color: #FFF;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
}

a:hover {
  cursor: pointer;
}

nav a:not(:first-child) {
  transition: .3s filter;
  filter: grayscale(99%);
}

nav a:not(:first-child):hover, nav a.selected {
  filter: grayscale(0) drop-shadow(0 0 5px #FFF);
}

a[title='Aide'] {
  cursor: help;
  background-color: #FF0;
}
.Activate {
  color: white;
}

.Desactivate {
  color: black;
}
mat-icon {
  color: skyblue;;
}
