@import '@angular/material/prebuilt-themes/purple-green.css';

:host {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
}

nav {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #202225;
}

nav::-webkit-scrollbar {
  display: none;
}

a {
  display: block;
  color: #FFF;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
}

a:hover {
  cursor: pointer;
}

nav a {
  transition: .3s filter;
  filter: grayscale(99%);
}

nav a:hover, nav a.selected {
  filter: grayscale(0) drop-shadow(0 0 5px #FFF);
}

.Activate {
  color: white;
}

.Desactivate {
  color: black;
}

.doc-icon {
  background-color: #FFF000;
}

mat-icon {
  color: skyblue;;
}

.doc-icon mat-icon {
  color: rgb(153, 31, 31);
}
