<h2 mat-dialog-title align="center">Confimer votre choix</h2>
<mat-dialog-content class="mat-typography">
  <h3 align="center" *ngIf="data.exportType === ExportType.EMAIL">
    Un dessin sera envoyé à l'adresse {{ data.email }} sous le nom de {{ data.name }}
  </h3>
  <h3 align="center" *ngIf="data.exportType === ExportType.LOCAL">
    Un dessin sera télécharger sous le nom de {{ data.name }}
  </h3>
  <p align="center">Êtes-vous sur de continuer ?</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="false" color="warn">
    Annuler
  </button>
  <button mat-button [mat-dialog-close]="true" color="primary">
    Continuer
  </button>
</mat-dialog-actions>
