h1 {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 50%;
  padding: 5px 15px;
  box-sizing: border-box;
}

.full {
  flex: 100%;
}

.block-center {
  margin: auto;
  width: min-content;
}

mat-form-field {
  display: block;
}

mat-radio-button {
  margin: 5px 0;
}

button {
  display: block;
  margin: 0 auto;
  padding: 0 25px;
}
