<main>
  <img src="/assets/logo.png" alt="POLY DESSIN" width="30%"/>
  <div id="informations">
    <h1>Nouveau dessin</h1>
  </div>
  <form id="form" [formGroup]="form">
    <h4>Dimensions</h4>
    <mat-form-field appearance="outline">
      <mat-label>Largeur</mat-label>
      <input matInput formControlName="width"
                      formControlGroupName="form"
                      type="number"
                      (input)="onDimensionsChangedByUser($event)">
      <span matSuffix>px</span>
      <mat-hint>
        Largeur de l’écran: {{ maxWidth }} pixels.
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hauteur</mat-label>
      <input matInput formControlName="height"
                      formControlGroupName="form"
                      type="number"
                      (input)="onDimensionsChangedByUser($event)">
      <span matSuffix>px</span>
      <mat-hint>
        Hauteur de l’écran: {{ maxHeight }} pixels.
      </mat-hint>
    </mat-form-field>
    <h4>Couleur d'arrière plan</h4>
    <mat-form-field appearance="outline">
      <mat-label>Couleur</mat-label>
      <input  matInput
              formControlName="color"
              formControlGroupName="form"
              readonly>
              <span matSuffix>
                <a>
                  <div class="color-preview" #palette></div>
                </a>
              </span>
              <mat-hint id="colorValid">
                Utilisez la palette pour changer de couleur
              </mat-hint>
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            (click)="onSubmit()"
            [disabled]="form.invalid"
            #button>
            Créer
    </button>
  </form>
  <button mat-stroked-button (click)="onReturn()" class="back-button">Retour à l'acceuil</button>
</main>
