<!-- stackoverflow.com/a/51507806 -->
<!-- (keypress.enter) does not work -->
<svg:svg #preview></svg:svg>
<br />
<!-- https://github.com/angular/angular/issues/15531 -->
<!--input ngModel formnovalidate type="submit" name="cancel" value="Retour" /-->
<form ngNativeValidate #f="ngForm" (ngSubmit)="submit(f)">
  <label for="name">Nom du dessin (entre 3 à 21 caractères)</label>
  <input required id="name" name="name"
    placeholder="foobar"
    pattern=".{3,21}"
    title="entre 3 à 21 caractères"
    [ngModel]="drawConfig.name" />
  <br />
  <label for="tag">Étiquette (entre 3 à 21 caractères)</label>
  <input id="tag"
    placeholder="licorne"
    pattern=".{3,21}"
    title="entre 3 à 21 caractères"
    (keydown.enter)="add($event)"/>
  <ul>
    <li *ngFor="let tag of tags"
      (click)="tags.delete(tag)">{{ tag }}</li>
  </ul>
  <input type="submit" value="Sauvegarder" [disabled]="saving" />
  <br />
  <input type="button" value="Retour"
    (click)="dialogRef.close('Opération annulée')" />
</form>
