<div id="container-content">
    <form [formGroup]="colorForm">
        <div id="piclker-gradient">
            <canvas height="256px" width="256px" #canvas>
            </canvas>
            <div id="right-side">
                <mat-slider vertical="true" min="0" max="255" (input)="onSlide($event)" formControlName="slider"></mat-slider>
            </div>
        </div>
        <mat-card>
            <mat-card-content>
                <mat-form-field class="rgb rgbahex">
                    <input matInput placeholder="R"
                            type="number" (input)="onChangeR($event)"
                            formControlName="r" #rField
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 189">
                </mat-form-field>
                <mat-form-field class="rgb rgbahex">
                    <input matInput placeholder="G"
                            type="number" (input)="onChangeG($event)"
                            formControlName="g" #gField
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 189">
                </mat-form-field>
                <mat-form-field class="rgb rgbahex">
                    <input matInput placeholder="B" type="number"
                            (input)="onChangeB($event)"
                            formControlName="b" #bField
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 189">
                </mat-form-field>
                <mat-form-field class="rgb rgbahex" id="alpha">
                    <input matInput placeholder="A" type="number" step="5"
                            (input)="onChangeA($event)" formControlName="a" #aField
                            onkeydown="return event.keyCode !== 69 && event.keyCode !== 189">
                    <span matSuffix>%</span>
                </mat-form-field>
                <mat-form-field class="hex rgbahex">
                    <input matInput placeholder="HEX" formControlName="hex" (input)="onChangeHex($event)" #hexField>
                    <span matPrefix>#</span>
                </mat-form-field>
            </mat-card-content>
            <mat-card-title>COULEURS PRÉDÉFINIES</mat-card-title>
            <mat-card-content>
                <app-color-picker-item [color]="color" *ngFor="let color of baseColors"></app-color-picker-item>
            </mat-card-content>
            <hr>
            <mat-card-content>
                COULEUR ACTUELLE
                <app-color-picker-item id="actual-color" #actualColor></app-color-picker-item>
                <button mat-raised-button (click)="onConfirm()" [disabled]="colorForm.invalid">OK</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>
