<span class="tool-tip">
  <mat-icon title="Salut">emoji_objects</mat-icon>
</span>
<h1>Grille</h1>
<form [formGroup]="gridForm">
  <p>
    Activée
    <mat-slide-toggle [checked]="service.active" (change)="onActiveChange()" formControlName="activeToggleForm" #activeToggle>
    </mat-slide-toggle>
  </p>
  <br>
  <div *ngIf="service.active">
    <p>Taille des carrés</p>
    <div class="squareSize">
      <mat-slider min="{{service.MIN_SQUARESIZE}}" max="{{service.MAX_SQUARESIZE}}" step=1
                  value="{{service.squareSize}}"
                  (input)="onSquareSizeChange()"
                  (change)="onSquareSizeChange()"
                  formControlName="squareSizeSlider"
                  #squareSizeSlider>
      </mat-slider>
      <mat-form-field>
        <input readonly matInput formControlName="squareSizeFormField" value="{{service.squareSize}}"/>
        <span matSuffix>px</span>
      </mat-form-field>
    </div>
    <br>
    <p>Opacité</p>
    <div class="opacity">
      <mat-slider min="{{service.MIN_OPACITY}}" max="{{service.MAX_OPACITY}}" step="1"
                  value="{{service.opacity}}"
                  (input)="onOpacityChange()"
                  (change)="onOpacityChange()"
                  formControlName="opacitySlider"
                  #opacitySlider>
      </mat-slider>
      <mat-form-field>
        <input readonly matInput formControlName="opacityFormField" value="{{service.opacity}}"/>
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </div>
</form>
