:host {
  display: block;
  padding: 0px 10px 0px 10px;
  width: 320px;
  color : white;
}

.juction-preferences{
  margin-left: 20px;
}

mat-radio-button{
  margin-left: 20px;
}

.thickness{
  margin-bottom: 20px;
  margin-left: 65px;
}

mat-slider{
  margin-top: -12px;
  float: left;
}

mat-form-field{
  width: 45px;
  height: 10px;
  margin-left: 10px;
  margin-top: -20px;
}

mat-slide-toggle {
  margin-right: 30px;
}

hr {
  border-color: grey;
}
