<a class="tool-tip no-select" (click)="showDocumentation()">
  <mat-icon title="Effectuez un clic gauche pour pipetter la couleur&#10;principale, un clic droit pour pipetter&#10;la couleur secondaire.&#10;Appuyez pour en savoir plus !">emoji_objects</mat-icon>
</a>
<h1 class="no-select">Pipette</h1>
  <svg width="320" height="280" #pipetteSVG>
    <circle cx="160"
            cy="150"
            r="100"
            [ngStyle]="{'fill': this.pipService.currentColor, 'stroke-width': 3, 'stroke': 'rgb(0, 0, 0)'}">
    </circle>
  </svg>
<p class="mat-caption" align="center" style="font-size: 150%">{{this.getHex()}}</p>
