.card {
    width: 300px;
    height: 330px;
    margin: 5px;
    background-color: #39394d;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}


.mat-card-title {
    max-width: 268px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.svg-wrapper {
    width: 300px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

::ng-deep .mat-chip-list-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    // margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-chip {
    flex: 0 0 auto;
}

.action-Button {
    // position: absolute;
    // bottom: 0px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0px;
}


.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0px;
}