:host {
  overflow-x: hidden;
}

.seperate {
  margin: 20px 5px 36px;
}

.upper {
  width: 30px !important;
  min-width: unset!important;
  background-color: rgba(78, 77, 77, 1);
  color: #fcbfcb;
  height: 50px;
  position: absolute;
  top: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: .3s filter;
  left: 408px;
}
