<form id="form" [formGroup]="form">
  <div class="informations">
    <h1>Exporter un dessin</h1>
  </div>
  <table>
    <tr>
      <td class="col">
        <h4>Nom du dessin</h4>
        <mat-form-field appearance="outline">
          <mat-label>Nom du dessin</mat-label>
          <input matInput placeholder="Entrer le nom du dessin" formControlName="name">
          <mat-hint>
            Le nom du fichier ne doit pas contenir d'espaces
          </mat-hint>
        </mat-form-field>
        <table>
          <tr>
            <td class="filters option">
              <h4>Filtres</h4>
              <mat-radio-group (change)="onOptionChange($event)" formControlName="filter">
                <div *ngFor="let filter of filters" class="filterOption">
                  <mat-radio-button [value]="filter"></mat-radio-button>
                  {{filter}}
                </div>
              </mat-radio-group>

            </td>
            <td class="option">
              <h4>Formats</h4>
              <mat-radio-group formControlName="format">
                <div *ngFor="let format of formats" class="formatOption">
                  <mat-radio-button [value]="format" #radioFormat></mat-radio-button>
                  {{format}}
                </div>
              </mat-radio-group>

            </td>
          </tr>
        </table>
      </td>
      <td class="col">
        <svg id="picture-view-zone" width="350" height="350" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <!-- A revoir pour le filterone -->
            <filter id="Blur" x="105" y="0" width="120px" height="120px" filterUnits="userSpaceOnUse">
              <feGaussianBlur stdDeviation="3" />
            </filter>

            <!-- Un peu grayscale -->
            <filter id="filterTwo" x="0%" y="0%">
              <feColorMatrix type="matrix" values=".33 .33 .33 0 0
                        .33 .33 .33 0 0
                        .33 .33 .33 0 0
                         0   0   0  1 0">
              </feColorMatrix>
            </filter>

            <!-- PAs mal noir avec du vert pour les dessins -->
            <filter id="invertion">
              <feColorMatrix in="SourceGraphic" type="matrix" values="-1 0 0 0 1
                                                                      0 -1 0 0 1
                                                                      0 0 -1 0 1
                                                                      0 0 0 1 0" />
            </filter>

            <!--  Bon greyscale -->
            <filter id="greyscale">
              <feColorMatrix in="SourceGraphic" type="matrix" values=".33 .33 .33 0 0
                                                                    .33 .33 .33 0 0
                                                                    .33 .33 .33 0 0
                                                                    0 0 0 1 0" />
            </filter>

            <!-- Sepia pas mal -->
            <filter id="sepia">
              <feColorMatrix in="SourceGraphic" type="matrix" values=".35 .35 .35 0 0
                                                                      .25 .25 .25 0 0
                                                                      .15 .15 .15 0 0
                                                                      0 0 0 1 0" />
            </filter>

            <!--  utilité non visible encore -->
            <filter id="contrast">
              <feColorMatrix in="SourceGraphic" type="matrix" values="1.2 0 0 0 -0.2
                                                                    0 1.2 0 0 -0.2
                                                                    0 0 1.2 0 -0.2
                                                                    0 0 0 1 0" />
            </filter>

            <!--  Pas mal -->
            <filter id="saturate">
              <feColorMatrix in="SourceGraphic" type="saturate" values=".5" result="A" />
            </filter>

            <filter id="linear">
              <feColorMatrix type="matrix" values="1 -0.2 0 0 0
                    0 1 0 -0.1 0
                    0 1.2 1 0.1 0
                    0 0 1.7 1 0 " />
            </filter>

            <!-- Bon -->
            <filter id="blackWhite">
              <feColorMatrix type="matrix" values="0 1 0 0 0
                        0 1 0 0 0
                        0 1 0 0 0
                        0 1 0 1 0 " />
            </filter>

          </defs>
        </svg>
      </td>
    </tr>
  </table>
  <table id="export-buttons">
    <tr>
      <td>
        <button mat-raised-button color="warn" (click)="onCancel($event)">Annuler </button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="onConfirm($event)"
          [disabled]="form.invalid">Exporter</button>
      </td>
    </tr>
  </table>
</form>
