<img src="/assets/logo.png" alt="POLY DESSIN" />
<form id="form" [formGroup]="form">
  <div class="informations">
    <h1>Exporter un dessin</h1>
  </div>
  <table>
    <tr>
      <td class="col">
        <h4>Nom du dessin</h4>
        <mat-form-field appearance="outline">
          <mat-label>Nom du dessin</mat-label>
          <input matInput placeholder="Entrer le nom du dessin" formControlName="name">
          <mat-hint>
            Le nom du fichier ne doit pas contenir d'espaces
          </mat-hint>
        </mat-form-field>
        <table>
          <tr>
            <td class="filters option">
              <h4>Filtres</h4>
              <mat-radio-group (change)="onOptionChange($event)" formControlName="filter" >
                <div *ngFor="let filter of filters" class="filterOption">
                  <mat-radio-button [value]="filter"></mat-radio-button>
                  {{filter}}
                </div>
              </mat-radio-group>

            </td>
            <td class="option">
              <h4>Formats</h4>
              <mat-radio-group formControlName="format">
                <div *ngFor="let format of formats" class="formatOption">
                  <mat-radio-button [value]="format" #radioFormat></mat-radio-button>
                  {{format}}
                </div>
              </mat-radio-group>

            </td>
          </tr>
        </table>
      </td>
      <td class="col">
        <svg></svg>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <button mat-raised-button color="warn" (click)="onCancel($event)">Annuler </button>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="onConfirm($event)"
          [disabled]="form.invalid">Exporter</button>
      </td>
    </tr>
  </table>
</form>