:host {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: transparent;
}

main {
  text-align: center;
  background-color: transparent;
}

img {
  display: block;
  margin: auto;
}

button {
  display: block;
  margin: 10px;
  width: 30vh;
}

.filterOption{
  margin-bottom: 7px;
}

svg {
  border: solid 2px blue;
}

.col {
  padding: 20px;
}

.filters{
  padding-right: 100px;
}

.option {
  display : block;
  float: left;
}

mat-form-field {
  width: 400px;
}

mat-radio-button {
  margin-bottom: 10px;
}